#Monday,
#Tuesday,
#Wednesday,
#Thursday,
#Friday {
    width: 18%;
    height: 200px;
    float: left;
    border: 1px solid black;
    padding: 2px;
    font-family: sans-serif;
    font-size: 12px;
}

.Sunny {
    background-image: url('thunderstorm.jpg');
}

.Raining {
    background-image: url('Raining.jpg');
}

.Cloudy {
    background-image: url('Snowing.jpg');
}

.Foggy {
    background-image: url('partly sunny.jpg');
}

#orderForm {
    width: 75%;
    margin: 20px auto;
}

#receipt {
    background-color: #996600;
    color: yellow;
    padding: 6px;
}