h1 {
    color: brown;
    text-align: center;
}

body {
    background-color: orange;
    text-align: center;
    border-style: solid;
}

#peopleIKnow {
    color: greenyellow;
    border-style: groove;
}